- var fb = "<div class='label label-primary'>Facebook</div>";
- var tituloP1 = titulo.split("Facebook")[0] + fb
doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    title=titulo
    script(src='/js/jquery.min.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/bootstrap.min.js')
    //- customizado
    link(rel='stylesheet', href='/css/customizado.css')
  body.bodyMain
  .marginGeral
    center
      .jumbotron
        h1.titulo.well.well-lg !{tituloP1}
        small.text-muted=autor
        p
          em=curso
        center
          a.btn.btn-primary.btn-lg.clearfix(href=btnListar.link)=btnListar.label